<div ng-controller="markDownController">
  <h2>New Question</h2>
  <%= form_for @question, remote: true do |f| %>
    <%= f.label :title %>
  <p>
  <%= f.text_field :title %>
  </p>
  <%= f.label :content %>
  <p>
  <%= f.text_area :content, rows: 8, cols: 40, class: "to-markdown", "ng-model" => "inputText" %>
  </p>
  <h2>Preview Area</h2>
  <p ng-bind-html="parseInputText()"></p>
</div>
<%= f.submit %>
<% end %>
