<h1>New Answer</h1>
<%= form_for [@question, @answer], remote: true do |f| %>
<%= f.label :title %>
<p>
<%= f.text_field :title %>
</p>
<%= f.label :content %>
<p>
<%= f.text_area :content, rows: 8, cols: 40, class: "to-markdown" %>
</p>
<h1>Preview Area</h1>
<p class="preview-area"></p>

<%= f.submit %>
<% end %>
