<h1>New Answer</h1>
<%= form_for ([@question, @answer]) do |f| %>
<p>
<%= f.label :title %>
<%= f.text_field :title %>
</p>
<p>
<%= f.label :content %>
<%= f.text_field :content %>
</p>

<%= f.submit %>
<% end %>
