<h1>New Answer</h1>
<%= form_for [@question, @answer], remote: true do |f| %>
<%= f.label :title %>
<p>
<%= f.text_field :title %>
</p>
<%= f.label :content %>
<p>
<%= f.text_area :content %>
</p>

<%= f.submit %>
<% end %>
